# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.venv/

# Python egg and package files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Logs
*.log

# Configuration files with sensitive data (optional)
config.ini

# PyTest cache
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
desktop.ini

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace

# PyCharm specific
*.iml
